.main {
  background-color: #F6F8FF;
  padding: 30px;
  margin: 100px auto;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

